<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>&lt;Retícula Modular&gt;: </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/github.min.css">
    <link rel="stylesheet" href="https://1000ch.github.io/gh-pages.css/gh-pages.css">
    </style>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script defer src="https://buttons.github.io/buttons.js"></script>
    <script defer src="https://unpkg.com/github-corner@2.0.2"></script>
    <script defer src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
    <script type="module" src="index.js"></script>
    <script type="module">
      window.addEventListener('load', () => {
        document.querySelectorAll('pre code').forEach(block => {
          hljs.highlightBlock(block);
        });
      });
    </script>
  </head>
  <body>

    <div id="app" class="container">
      <h1><a href="">&lt;Retículas Modulares&gt;</a></h1>
      <p>Creación de Retículas Modulares</p>
      

      <h2>Módulos</h2>
      <div style="padding-bottom: 16px;">
        &lt;Módulo
        <label>
          aliniación=<select @change="onChangeAlign">
            <option v-for="align in aligns" :value="align">{{ align }}</option>
          </select>
        </label>
        <label>
          justificado=<select @change="onChangeJustify">
            <option v-for="justify in justifies" :value="justify">{{ justify }}</option>
          </select>
        </label>&gt;
      </div>
      <vue-grid :align="selectedAlign" :justify="selectedJustify">
        <vue-cell-ex v-for="cell in cells"></vue-cell-ex>
      </vue-grid>
      <div style="padding-top: 16px;">
        &lt;gestión de módulos&gt;
        <button @click="onClickAdd">Agregar a &lt;vue-cell&gt;</button>
        <button @click="onClickRemove">Remover a &lt;vue-cell&gt;</button>
      </div>
      <h2>Reticulas modulares</h2>
      <pre><code class="bash"> Para proyectos más complejos. 
 Es una retícula de columnas con un gran número de líneas de flujo horizontales <br> que subdividen las columnas en fila, creando una matriz de celdas denominadas módulos. 
</code></pre>
     
   

    </div>
  </body>
</html>
