<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>&lt;vue-grd&gt;: SimpleMAX, Light-weight and Flexible Vue.js component for grid layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/github.min.css">
    <link rel="stylesheet" href="https://1000ch.github.io/gh-pages.css/gh-pages.css">
    </style>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script defer src="https://buttons.github.io/buttons.js"></script>
    <script defer src="https://unpkg.com/github-corner@2.0.2"></script>
    <script defer src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
    <script type="module" src="index.js"></script>
    <script type="module">
      window.addEventListener('load', () => {
        document.querySelectorAll('pre code').forEach(block => {
          hljs.highlightBlock(block);
        });
      });
    </script>
  </head>
  <body>
    <github-corner>
      <a href="https://github.com/1000ch/vue-grd">GitHub</a>
    </github-corner>
    <div id="app" class="container">
      <h1><a href="https://github.com/1000ch/vue-grd">&lt;vue-grd&gt;</a></h1>
      <p>Simple, Light-weight and Flexible Vue.js component for grid layout.</p>
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/1000ch/vue-grd" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star 1000ch/vue-grd on GitHub">Star</a>
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/1000ch" data-size="large" data-show-count="true" aria-label="Follow @1000ch on GitHub">Follow @1000ch</a>
      <h2>Live Demo</h2>
      <div style="padding-bottom: 16px;">
        &lt;vue-grid
        <label>
          align=<select @change="onChangeAlign">
            <option v-for="align in aligns" :value="align">{{ align }}</option>
          </select>
        </label>
        <label>
          justify=<select @change="onChangeJustify">
            <option v-for="justify in justifies" :value="justify">{{ justify }}</option>
          </select>
        </label>&gt;
      </div>
      <vue-grid :align="selectedAlign" :justify="selectedJustify">
        <vue-cell-ex v-for="cell in cells"></vue-cell-ex>
      </vue-grid>
      <div style="padding-top: 16px;">
        &lt;/vue-grid&gt;
        <button @click="onClickAdd">Add a &lt;vue-cell&gt;</button>
        <button @click="onClickRemove">Remove a &lt;vue-cell&gt;</button>
      </div>
      <h2>Install</h2>
      <pre><code class="bash">npm install vue-grd</code></pre>
      <h2>Usage</h2>
      <p>You can use <code>&lt;vue-grid&gt;</code> and <code>&lt;vue-cell&gt;</code> components after importing and registering <code>VueGrid</code> and <code>VueCell</code>.</p>
      <pre><code class="html">&lt;template&gt;
  &lt;vue-grid align=&quot;stretch&quot; justify=&quot;start&quot;&gt;
    &lt;vue-cell width=&quot;fill&quot;>fill&lt;/vue-cell&gt;
    &lt;vue-cell width=&quot;3of12&quot;>3of12&lt;/vue-cell&gt;
    &lt;vue-cell width=&quot;3of12&quot;>3of12&lt;/vue-cell&gt;
  &lt;/vue-grid&gt;
&lt;/template&gt;

&lt;script&gt;
import { VueGrid, VueCell } from 'vue-grd';

export default {
  components: {
    VueGrid,
    VueCell
  }
};
&lt;/script&gt;</code></pre>
      <h2>License</h2>
      <p><a href="https://1000ch.mit-license.org" rel="nofollow">MIT</a> © <a href="https://github.com/1000ch">Shogo Sensui</a></p>
    </div>
  </body>
</html>
